/* Reset de estilos padrão */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para o formulário */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* Estilos para o campo de entrada de texto */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para os rótulos */
label {
    font-weight: bold;
}

/* Estilos para os botões */
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para o botão Consultar */
.btn.btn-dark {
    background-color: #333;
}

/* Estilos para a legenda do campo de cadastro */
#legendcad {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
