/* Reset de estilos padrão */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para o formulário */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* Estilos para o campo de entrada de texto */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para os botões */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilos para o botão Consultar */
.btn.btn-dark {
    background-color: #333;
}

/* Estilos para o título do formulário */
form legend {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilos para a classe 'senha' */
.senha label {
    display: block;
}

/* Estilos para o link 'Voltar' */
a {
    text-decoration: none;
}

/* Estilos para o título 'Bem Vindo' */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para a classe 'badge' */
.badge-secondary {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
